In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("food_coded.csv")

In [2]:
df.head()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190

In [3]:
df.tail()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
120,3.5,1,1,610,4.0,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2.0,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,NaN,420.0,1,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4.0,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,NaN,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

In [4]:
df.isnull().sum()

GPA                  2
Gender               0
breakfast            0
calories_chicken     0
calories_day        19
                    ..
type_sports         21
veggies_day          0
vitamins             0
waffle_calories      0
weight               2
Length: 61, dtype: int64

In [5]:
df.shape

(125, 61)

In [6]:
df.head()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190

In [7]:
df.drop(['calories_chicken', 'calories_chicken','turkey_calories','waffle_calories'],inplace= True, axis=1)

In [8]:
df.shape
df.head()

,GPA,Gender,breakfast,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,cook,...,persian_food,self_perception_weight,soup,sports,thai_food,tortilla_calories,type_sports,veggies_day,vitamins,weight
0,2.4,2,1,NaN,315.0,1,none,we dont have comfort,9.0,2.0,...,5.0,3.0,1.0,1.0,1,1165.0,car racing,5,1,187
1,3.654,1,1,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,3.0,...,4.0,3.0,1.0,1.0,2,725.0,Basketball,4,2,155
2,3.3,1,1,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,1.0,...,5.0,6.0,1.0,2.0,5,1165.0,none,5,1,I'm not answering this.
3,3.2,1,1,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,2.0,...,5.0,5.0,1.0,2.0,5,725.0,NaN,3,1,"Not sure, 240"
4,3.5,1,1,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,1.0,...,2.0,4.0,1.0,1.0,4,940.0,Softball,4,2,190

In [9]:
df.drop(['calories_scone','tortilla_calories'],inplace= True, axis=1)

In [10]:
df.drop(['type_sports'],inplace= True, axis=1)

In [11]:
df.drop(['diet_current','eating_changes','father_education','food_childhood','healthy_meal','ideal_diet','meals_dinner_friend','mother_education','mother_profession'],inplace= True, axis=1)

In [12]:
df.shape

(125, 46)

In [13]:
df.head()

,GPA,Gender,breakfast,calories_day,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,cook,comfort_food_reasons_coded.1,...,parents_cook,pay_meal_out,persian_food,self_perception_weight,soup,sports,thai_food,veggies_day,vitamins,weight
0,2.4,2,1,NaN,1,none,we dont have comfort,9.0,2.0,9,...,1,2,5.0,3.0,1.0,1.0,1,5,1,187
1,3.654,1,1,3.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,3.0,1,...,1,4,4.0,3.0,1.0,1.0,2,4,2,155
2,3.3,1,1,4.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,1.0,1,...,1,3,5.0,6.0,1.0,2.0,5,5,1,I'm not answering this.
3,3.2,1,1,3.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,2.0,2,...,1,2,5.0,5.0,1.0,2.0,5,3,1,"Not sure, 240"
4,3.5,1,1,2.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,1.0,1,...,1,4,2.0,4.0,1.0,1.0,4,4,2,190

In [14]:
df.drop(['GPA','comfort_food','comfort_food_reasons','on_off_campus'],inplace= True, axis=1)

In [15]:
df.head()

,Gender,breakfast,calories_day,coffee,comfort_food_reasons_coded,cook,comfort_food_reasons_coded.1,cuisine,diet_current_coded,drink,...,parents_cook,pay_meal_out,persian_food,self_perception_weight,soup,sports,thai_food,veggies_day,vitamins,weight
0,2,1,NaN,1,9.0,2.0,9,NaN,1,1.0,...,1,2,5.0,3.0,1.0,1.0,1,5,1,187
1,1,1,3.0,2,1.0,3.0,1,1.0,2,2.0,...,1,4,4.0,3.0,1.0,1.0,2,4,2,155
2,1,1,4.0,2,1.0,1.0,1,3.0,3,1.0,...,1,3,5.0,6.0,1.0,2.0,5,5,1,I'm not answering this.
3,1,1,3.0,2,2.0,2.0,2,2.0,2,2.0,...,1,2,5.0,5.0,1.0,2.0,5,3,1,"Not sure, 240"
4,1,1,2.0,2,1.0,1.0,1,2.0,2,2.0,...,1,4,2.0,4.0,1.0,1.0,4,4,2,190

In [16]:
for col in df.columns: 
    print(col)

Gender
breakfast
calories_day
coffee
comfort_food_reasons_coded
cook
comfort_food_reasons_coded.1
cuisine
diet_current_coded
drink
eating_changes_coded
eating_changes_coded1
eating_out
employment
ethnic_food
exercise
father_profession
fav_cuisine
fav_cuisine_coded
fav_food
fries
fruit_day
grade_level
greek_food
healthy_feeling
ideal_diet_coded
income
indian_food
italian_food
life_rewarding
marital_status
nutritional_check
parents_cook
pay_meal_out
persian_food
self_perception_weight
soup
sports
thai_food
veggies_day
vitamins
weight

In [17]:
df.drop(['calories_day','father_profession'],inplace= True, axis=1)

In [18]:
for col in df.columns: 
    print(col)

Gender
breakfast
coffee
comfort_food_reasons_coded
cook
comfort_food_reasons_coded.1
cuisine
diet_current_coded
drink
eating_changes_coded
eating_changes_coded1
eating_out
employment
ethnic_food
exercise
fav_cuisine
fav_cuisine_coded
fav_food
fries
fruit_day
grade_level
greek_food
healthy_feeling
ideal_diet_coded
income
indian_food
italian_food
life_rewarding
marital_status
nutritional_check
parents_cook
pay_meal_out
persian_food
self_perception_weight
soup
sports
thai_food
veggies_day
vitamins
weight

In [19]:
df.drop(['fav_cuisine','fries'],inplace= True, axis=1)
df.shape
df.head

<bound method NDFrame.head of      Gender  breakfast  coffee  comfort_food_reasons_coded  cook  \
0         2          1       1                         9.0   2.0
1         1          1       2                         1.0   3.0
2         1          1       2                         1.0   1.0
3         1          1       2                         2.0   2.0
4         1          1       2                         1.0   1.0
..      ...        ...     ...                         ...   ...
120       1          1       2                         NaN   3.0
121       1          1       2                         NaN   3.0
122       1          1       1                         NaN   3.0
123       2          1       1                         NaN   3.0
124       1          1       2                         NaN   NaN

     comfort_food_reasons_coded.1  cuisine  diet_current_coded  drink  \
0                               9      NaN                   1    1.0
1                               1      1.0                   2    2.0
2                               1      3.0                   3    1.0
3                               2      2.0                   2    2.0
4                               1      2.0                   2    2.0
..                            ...      ...                 ...    ...
120                             2      1.0                   2    2.0
121                             3      NaN                   2    1.0
122                             3      NaN                   2    1.0
123                             7      1.0                   1    2.0
124                             5      3.0                   1    1.0

     eating_changes_coded  ...  parents_cook  pay_meal_out  persian_food  \
0                       1  ...             1             2           5.0
1                       1  ...             1             4           4.0
2                       1  ...             1             3           5.0
3                       1  ...             1             2           5.0
4                       3  ...             1             4           2.0
..                    ...  ...           ...           ...           ...
120                     1  ...             1             4           3.0
121                     1  ...             3             4           1.0
122                     1  ...             2             4           5.0
123                     1  ...             2             3           1.0
124                     2  ...             3             3           2.0

     self_perception_weight  soup  sports  thai_food  veggies_day  vitamins  \
0                       3.0   1.0     1.0          1            5         1
1                       3.0   1.0     1.0          2            4         2
2                       6.0   1.0     2.0          5            5         1
3                       5.0   1.0     2.0          5            3         1
4                       4.0   1.0     1.0          4            4         2
..                      ...   ...     ...        ...          ...       ...
120                     4.0   1.0     1.0          5            5         1
121                     4.0   1.0     NaN          4            5         2
122                     4.0   1.0     2.0          5            4         2
123                     2.0   2.0     2.0          1            3         1
124                     3.0   1.0     2.0          2            4         2

                       weight
0                         187
1                         155
2    I'm not answering this.
3               Not sure, 240
4                         190
..                        ...
120                       156
121                       180
122                       120
123                       135
124                       135

[125 rows x 38 columns]>

In [20]:
df = df.rename(columns={'coffee':'Coffee','cook':"Cook",'comfort_food_reasons_coded':"Comfort_food_reasons","cuisine":"Cuisine" ,"diet_current_coded":"Current_diet","drink":"Drink","eating_changes_coded": "Eating_changes","eating_out":"Eating_out","employment":"Employment","ethnic_food":"Ethic_food","exercise":"Exercise","fav_cuisine_coded":"Fav_cuisine","fav_food":"Fav_food","breakfast":"Breakfast"})

In [21]:
for col in df.columns: 
    print(col)

Gender
Breakfast
Coffee
Comfort_food_reasons
Cook
comfort_food_reasons_coded.1
Cuisine
Current_diet
Drink
Eating_changes
eating_changes_coded1
Eating_out
Employment
Ethic_food
Exercise
Fav_cuisine
Fav_food
fruit_day
grade_level
greek_food
healthy_feeling
ideal_diet_coded
income
indian_food
italian_food
life_rewarding
marital_status
nutritional_check
parents_cook
pay_meal_out
persian_food
self_perception_weight
soup
sports
thai_food
veggies_day
vitamins
weight

In [22]:
df = df.rename(columns={"weight":"Weight(lbs)","vitamins":"Vitamins","veggies_day":"Veggies_day","thai_food":"Thai_food","sports":"Sports","self_perception_weight":"Self_perception_weight","persian_food":"Persian_food","pay_meal_out":"Pay_meal_out","parents_cook":"Parents_cook","nutritional_check":"Nutritional_check","marital_status":"Marital_status","life_rewarding":"Life_rewarding","italian_food":"Italian_food","indian_food":"Indian_food","income":"Income","ideal_diet_coded":"Ideal_diet","healthy_feeling":"Healthy_feeling","greek_food":"Greek_food","soup":"Soup","grade_level":"Grade_level","fruit_day":"Fruit_day"})

In [23]:
for col in df.columns: 
    print(col)

Gender
Breakfast
Coffee
Comfort_food_reasons
Cook
comfort_food_reasons_coded.1
Cuisine
Current_diet
Drink
Eating_changes
eating_changes_coded1
Eating_out
Employment
Ethic_food
Exercise
Fav_cuisine
Fav_food
Fruit_day
Grade_level
Greek_food
Healthy_feeling
Ideal_diet
Income
Indian_food
Italian_food
Life_rewarding
Marital_status
Nutritional_check
Parents_cook
Pay_meal_out
Persian_food
Self_perception_weight
Soup
Sports
Thai_food
Veggies_day
Vitamins
Weight(lbs)

In [24]:
df.drop(['comfort_food_reasons_coded.1','eating_changes_coded1'],inplace= True, axis=1)

In [25]:
for col in df.columns: 
    print(col)

Gender
Breakfast
Coffee
Comfort_food_reasons
Cook
Cuisine
Current_diet
Drink
Eating_changes
Eating_out
Employment
Ethic_food
Exercise
Fav_cuisine
Fav_food
Fruit_day
Grade_level
Greek_food
Healthy_feeling
Ideal_diet
Income
Indian_food
Italian_food
Life_rewarding
Marital_status
Nutritional_check
Parents_cook
Pay_meal_out
Persian_food
Self_perception_weight
Soup
Sports
Thai_food
Veggies_day
Vitamins
Weight(lbs)

In [26]:
df.head()

,Gender,Breakfast,Coffee,Comfort_food_reasons,Cook,Cuisine,Current_diet,Drink,Eating_changes,Eating_out,...,Parents_cook,Pay_meal_out,Persian_food,Self_perception_weight,Soup,Sports,Thai_food,Veggies_day,Vitamins,Weight(lbs)
0,2,1,1,9.0,2.0,NaN,1,1.0,1,3,...,1,2,5.0,3.0,1.0,1.0,1,5,1,187
1,1,1,2,1.0,3.0,1.0,2,2.0,1,2,...,1,4,4.0,3.0,1.0,1.0,2,4,2,155
2,1,1,2,1.0,1.0,3.0,3,1.0,1,2,...,1,3,5.0,6.0,1.0,2.0,5,5,1,I'm not answering this.
3,1,1,2,2.0,2.0,2.0,2,2.0,1,2,...,1,2,5.0,5.0,1.0,2.0,5,3,1,"Not sure, 240"
4,1,1,2,1.0,1.0,2.0,2,2.0,3,2,...,1,4,2.0,4.0,1.0,1.0,4,4,2,190

In [27]:
missing_values_count = df.isnull().sum()
print(missing_values_count)
total_missing = missing_values_count.sum()
print(total_missing)

Gender                     0
Breakfast                  0
Coffee                     0
Comfort_food_reasons      19
Cook                       3
Cuisine                   17
Current_diet               0
Drink                      2
Eating_changes             0
Eating_out                 0
Employment                 9
Ethic_food                 0
Exercise                  13
Fav_cuisine                0
Fav_food                   2
Fruit_day                  0
Grade_level                0
Greek_food                 0
Healthy_feeling            0
Ideal_diet                 0
Income                     1
Indian_food                0
Italian_food               0
Life_rewarding             1
Marital_status             1
Nutritional_check          0
Parents_cook               0
Pay_meal_out               0
Persian_food               1
Self_perception_weight     1
Soup                       1
Sports                     2
Thai_food                  0
Veggies_day                0
Vitamins                   0
Weight(lbs)                2
dtype: int64
75

In [28]:
total_cells = np.product(df.shape)
print(total_cells)

4500

In [29]:
percentage = (total_missing/total_cells)*100
print(percentage)

1.6666666666666667

In [30]:
df_mode=df.mode().iloc[0]
print(df_mode)

Gender                      1
Breakfast                   1
Coffee                      2
Comfort_food_reasons        2
Cook                        3
Cuisine                     1
Current_diet                2
Drink                       2
Eating_changes              1
Eating_out                  2
Employment                  2
Ethic_food                  5
Exercise                    1
Fav_cuisine                 1
Fav_food                    1
Fruit_day                   5
Grade_level                 1
Greek_food                  5
Healthy_feeling             8
Ideal_diet                  2
Income                      6
Indian_food                 5
Italian_food                5
Life_rewarding              1
Marital_status              1
Nutritional_check           4
Parents_cook                1
Pay_meal_out                3
Persian_food                1
Self_perception_weight      3
Soup                        1
Sports                      1
Thai_food                   5
Veggies_day                 5
Vitamins                    2
Weight(lbs)               135
Name: 0, dtype: object

In [31]:
df.fillna(df_mode,inplace=True)

In [32]:
df.isnull().sum()

Gender                    0
Breakfast                 0
Coffee                    0
Comfort_food_reasons      0
Cook                      0
Cuisine                   0
Current_diet              0
Drink                     0
Eating_changes            0
Eating_out                0
Employment                0
Ethic_food                0
Exercise                  0
Fav_cuisine               0
Fav_food                  0
Fruit_day                 0
Grade_level               0
Greek_food                0
Healthy_feeling           0
Ideal_diet                0
Income                    0
Indian_food               0
Italian_food              0
Life_rewarding            0
Marital_status            0
Nutritional_check         0
Parents_cook              0
Pay_meal_out              0
Persian_food              0
Self_perception_weight    0
Soup                      0
Sports                    0
Thai_food                 0
Veggies_day               0
Vitamins                  0
Weight(lbs)               0
dtype: int64

In [33]:
df.head()

,Gender,Breakfast,Coffee,Comfort_food_reasons,Cook,Cuisine,Current_diet,Drink,Eating_changes,Eating_out,...,Parents_cook,Pay_meal_out,Persian_food,Self_perception_weight,Soup,Sports,Thai_food,Veggies_day,Vitamins,Weight(lbs)
0,2,1,1,9.0,2.0,1.0,1,1.0,1,3,...,1,2,5.0,3.0,1.0,1.0,1,5,1,187
1,1,1,2,1.0,3.0,1.0,2,2.0,1,2,...,1,4,4.0,3.0,1.0,1.0,2,4,2,155
2,1,1,2,1.0,1.0,3.0,3,1.0,1,2,...,1,3,5.0,6.0,1.0,2.0,5,5,1,I'm not answering this.
3,1,1,2,2.0,2.0,2.0,2,2.0,1,2,...,1,2,5.0,5.0,1.0,2.0,5,3,1,"Not sure, 240"
4,1,1,2,1.0,1.0,2.0,2,2.0,3,2,...,1,4,2.0,4.0,1.0,1.0,4,4,2,190

In [34]:
def Gender(x):
    if x ==1:
        return "Female"
    else:
        return "Male"

df["Gender"]=df["Gender"].apply(Gender)

In [35]:
df.head()

,Gender,Breakfast,Coffee,Comfort_food_reasons,Cook,Cuisine,Current_diet,Drink,Eating_changes,Eating_out,...,Parents_cook,Pay_meal_out,Persian_food,Self_perception_weight,Soup,Sports,Thai_food,Veggies_day,Vitamins,Weight(lbs)
0,Male,1,1,9.0,2.0,1.0,1,1.0,1,3,...,1,2,5.0,3.0,1.0,1.0,1,5,1,187
1,Female,1,2,1.0,3.0,1.0,2,2.0,1,2,...,1,4,4.0,3.0,1.0,1.0,2,4,2,155
2,Female,1,2,1.0,1.0,3.0,3,1.0,1,2,...,1,3,5.0,6.0,1.0,2.0,5,5,1,I'm not answering this.
3,Female,1,2,2.0,2.0,2.0,2,2.0,1,2,...,1,2,5.0,5.0,1.0,2.0,5,3,1,"Not sure, 240"
4,Female,1,2,1.0,1.0,2.0,2,2.0,3,2,...,1,4,2.0,4.0,1.0,1.0,4,4,2,190

In [36]:
def coff(x):
    if x ==1:
        return "Creamy frapuccino"
    else:
        return "Espresso"
df["Coffee"]=df["Coffee"].apply(coff)

In [37]:
def comf(x):
    if x ==1.0:
        return "Stress"
    elif x==2.0:
        return "Boredom"
    elif x==3.0:
        return "Depression/Sadness"
    elif x==4.0:
        return "Hunger"
    elif x==5.0:
        return "Laziness"
    elif x==6.0:
        return "Cold Weather"
    elif x==7.0:
        return "Happiness"
    elif x==8.0:
        return "Watching tv"
    else:
        return "None"
    
df["Comfort_food_reasons"]=df["Comfort_food_reasons"].apply(comf)

In [38]:
def bf(x):
    if x ==1:
        return "Cereal"
    else:
        return "Donut"
df["Breakfast"]=df["Breakfast"].apply(bf)

In [39]:
df.head()

,Gender,Breakfast,Coffee,Comfort_food_reasons,Cook,Cuisine,Current_diet,Drink,Eating_changes,Eating_out,...,Parents_cook,Pay_meal_out,Persian_food,Self_perception_weight,Soup,Sports,Thai_food,Veggies_day,Vitamins,Weight(lbs)
0,Male,Cereal,Creamy frapuccino,None,2.0,1.0,1,1.0,1,3,...,1,2,5.0,3.0,1.0,1.0,1,5,1,187
1,Female,Cereal,Espresso,Stress,3.0,1.0,2,2.0,1,2,...,1,4,4.0,3.0,1.0,1.0,2,4,2,155
2,Female,Cereal,Espresso,Stress,1.0,3.0,3,1.0,1,2,...,1,3,5.0,6.0,1.0,2.0,5,5,1,I'm not answering this.
3,Female,Cereal,Espresso,Boredom,2.0,2.0,2,2.0,1,2,...,1,2,5.0,5.0,1.0,2.0,5,3,1,"Not sure, 240"
4,Female,Cereal,Espresso,Stress,1.0,2.0,2,2.0,3,2,...,1,4,2.0,4.0,1.0,1.0,4,4,2,190

In [40]:
def C(x):
    if x ==1:
        return "Daily"
    elif x==2:
        return "Sometimes"
    elif x==3:
        return "Not often"
    elif x==4:
        return "Only help"
    else:
        return "Never"
df["Cook"]=df["Cook"].apply(C)

In [41]:
df.head()

,Gender,Breakfast,Coffee,Comfort_food_reasons,Cook,Cuisine,Current_diet,Drink,Eating_changes,Eating_out,...,Parents_cook,Pay_meal_out,Persian_food,Self_perception_weight,Soup,Sports,Thai_food,Veggies_day,Vitamins,Weight(lbs)
0,Male,Cereal,Creamy frapuccino,None,Sometimes,1.0,1,1.0,1,3,...,1,2,5.0,3.0,1.0,1.0,1,5,1,187
1,Female,Cereal,Espresso,Stress,Not often,1.0,2,2.0,1,2,...,1,4,4.0,3.0,1.0,1.0,2,4,2,155
2,Female,Cereal,Espresso,Stress,Daily,3.0,3,1.0,1,2,...,1,3,5.0,6.0,1.0,2.0,5,5,1,I'm not answering this.
3,Female,Cereal,Espresso,Boredom,Sometimes,2.0,2,2.0,1,2,...,1,2,5.0,5.0,1.0,2.0,5,3,1,"Not sure, 240"
4,Female,Cereal,Espresso,Stress,Daily,2.0,2,2.0,3,2,...,1,4,2.0,4.0,1.0,1.0,4,4,2,190

In [42]:
def Cusine(x):
    if x ==1:
        return "American"
    elif x==2:
        return "Mexican Spanish"
    elif x==3:
        return "Korean/Asian"
    elif x==4:
        return "Indian"
    elif x==5:
        return "International dishes"
    else:
        return "Other"
df["Cuisine"]=df["Cuisine"].apply(Cusine)

In [43]:
def diet(x):
    if x ==1:
        return "Healthy"
    elif x==2:
        return "Unhealthy"
    elif x==3:
        return "Same"
    else:
        return "Unclear"

df["Current_diet"]=df["Current_diet"].apply(diet)

In [44]:
def drink(x):
    if x ==1:
        return "Orange juice"
    else:
        return "Soda"

df["Drink"]=df["Drink"].apply(drink)

In [45]:
def eat(x):
    if x ==1:
        return "Worse"
    elif x==2:
        return "Better"
    elif x==3:
        return "Same"
    else:
        return "Unclear"

df["Eating_changes"]=df["Eating_changes"].apply(eat)

In [46]:
def eout(x):
    if x ==1:
        return "Never"
    elif x==2:
        return "1-2 times"
    elif x==3:
        return "2-3 times"
    elif x==4:
        return "3-5 times"
    else:
        return "Everyday"
df["Eating_out"]=df["Eating_out"].apply(eout)

In [47]:
def employ(x):
    if x ==1:
        return "Full time"
    elif x==2:
        return "Part time"
    elif x==3:
        return "No"
    else:
        return "Other"
df["Employment"]=df["Employment"].apply(employ)

In [48]:
def efood(x):
    if x ==1:
        return "Very unlikely"
    elif x==2:
        return "Unlikely"
    elif x==3:
        return "Neutral "
    elif x==4:
        return "Likely"
    else:
        return "Very likely "
df["Ethic_food"]=df["Ethic_food"].apply(efood)
df["Greek_food"]=df["Greek_food"].apply(efood)
df["Indian_food"]=df["Indian_food"].apply(efood)
df["Italian_food"]=df["Italian_food"].apply(efood)
df["Thai_food"]=df["Thai_food"].apply(efood)
df["Veggies_day"]=df["Veggies_day"].apply(efood)

In [49]:
def exercise(x):
    if x ==1:
        return "Everyday"
    elif x==2:
        return "Twice or three times per week"
    elif x==3:
        return "Once a week"
    elif x==4:
        return "Sometimes"
    else:
        return "Never "
df["Exercise"]=df["Exercise"].apply(exercise)
df["Parents_cook"]=df["Parents_cook"].apply(exercise)

In [50]:
def fav(x):
    if x ==1:
        return "Italian/French/greek"
    elif x==2:
        return "Spanish/mexican"
    elif x==3:
        return "Arabic/Turkish"
    elif x==4:
        return "Asian/Chinese/Thai"
    elif x==5:
        return "American"
    elif x==6:
        return "African"
    elif x==7:
        return "Jamaican"
    elif x==8:
        return "Indian"
    else:
        return "None"
df["Fav_cuisine"]=df["Fav_cuisine"].apply(fav)

In [51]:
def favfood(x):
    if x ==1:
        return "Home cooked food"
    elif x==2:
        return "Store bought"
    else:
        return "Store bought & cooked at home"
df["Fav_food"]=df["Fav_food"].apply(favfood)

In [52]:
def fruit(x):
    if x ==1:
        return "Home cooked food"
    elif x==2:
        return "Store bought"
    else:
        return "Store bought & cooked at home"
df["Fav_food"]=df["Fav_food"].apply(favfood)

In [53]:
def grade(x):
    if x ==1:
        return "Freshman"
    elif x==2:
        return "Sophomore"
    elif x==3:
        return "Junior"
    else:
        return "Senior"
df["Grade_level"]=df["Grade_level"].apply(grade)

In [54]:
def idea(x):
    if x ==1:
        return "Portion control"
    elif x==2:
        return "Eating healthier food"
    elif x==3:
        return "Balance"
    elif x==4:
        return "Less sugar"
    elif x==5:
        return "Home cooked"
    elif x==6:
        return "Current diet"
    elif x==7:
        return "More protein"
    else:
        return "Unclear"
df["Ideal_diet"]=df["Ideal_diet"].apply(idea)

In [55]:
def income(x):
    if x ==1:
        return "Less than $15,000"
    elif x==2:
        return "$15,001 to $30,000"
    elif x==3:
        return "$30,001 to $50,000"
    elif x==4:
        return "$50,001 to $70,000"
    elif x==5:
        return "$70,001 to $100,000"
    else:
        return "Over $100,000"
df["Income"]=df["Income"].apply(income)

In [56]:
def vitamin(x):
    if x==1:
        return "Yes"
    elif x==2:
        return "No"
    else:
        return "No answer"
    
df["Vitamins"]=df["Vitamins"].apply(vitamin)
df["Sports"]=df["Sports"].apply(vitamin)

In [57]:
def soup(x):
    if x ==1:
        return "Veggie soup"
    else:
        return "Creamy soup"
df["Soup"]=df["Soup"].apply(soup)

In [58]:
def spw(x):
    if x ==6:
        return "Never thought"
    elif x==5:
        return "Overweight"
    elif x==4:
        return "Slightly overweight"
    elif x==3:
        return "Just right"
    elif x==2:
        return "Very fit"
    else:
        return "Slim"
df["Self_perception_weight"]=df["Self_perception_weight"].apply(spw)

In [59]:
def pay(x):
    if x ==1:
        return "upto $5"
    elif x==2:
        return "$5-$10"
    elif x==3:
        return "$10-$20"
    elif x==4:
        return "$20-$30"
    elif x==5:
        return "$30-$40"
    else:
        return "More than $40"
df["Pay_meal_out"]=df["Pay_meal_out"].apply(pay)

In [60]:
def nutri(x):
    if x ==1:
        return "Never"
    elif x==2:
        return "On certain products"
    elif x==3:
        return "Very rarely"
    elif x==4:
        return "Most of the items"
    else:
        return "Everything"
df["Nutritional_check"]=df["Nutritional_check"].apply(nutri)

In [61]:
def mstatus(x):
    if x ==1:
        return "Single"
    elif x==2:
        return "In a relationship"
    elif x==3:
        return "Cohabiting"
    elif x==4:
        return "Married"
    elif x==6:
        return "Windowed"
    else:
        return "Divorced"
df["Marital_status"]=df["Marital_status"].apply(mstatus)

In [62]:
df.head()

,Gender,Breakfast,Coffee,Comfort_food_reasons,Cook,Cuisine,Current_diet,Drink,Eating_changes,Eating_out,...,Parents_cook,Pay_meal_out,Persian_food,Self_perception_weight,Soup,Sports,Thai_food,Veggies_day,Vitamins,Weight(lbs)
0,Male,Cereal,Creamy frapuccino,None,Sometimes,American,Healthy,Orange juice,Worse,2-3 times,...,Everyday,$5-$10,5.0,Just right,Veggie soup,Yes,Very unlikely,Very likely,Yes,187
1,Female,Cereal,Espresso,Stress,Not often,American,Unhealthy,Soda,Worse,1-2 times,...,Everyday,$20-$30,4.0,Just right,Veggie soup,Yes,Unlikely,Likely,No,155
2,Female,Cereal,Espresso,Stress,Daily,Korean/Asian,Same,Orange juice,Worse,1-2 times,...,Everyday,$10-$20,5.0,Never thought,Veggie soup,No,Very likely,Very likely,Yes,I'm not answering this.
3,Female,Cereal,Espresso,Boredom,Sometimes,Mexican Spanish,Unhealthy,Soda,Worse,1-2 times,...,Everyday,$5-$10,5.0,Overweight,Veggie soup,No,Very likely,Neutral,Yes,"Not sure, 240"
4,Female,Cereal,Espresso,Stress,Daily,Mexican Spanish,Unhealthy,Soda,Same,1-2 times,...,Everyday,$20-$30,2.0,Slightly overweight,Veggie soup,Yes,Likely,Likely,No,190

In [65]:
df["Gender"] = df["Gender"].str.strip()

In [66]:
df.head()

,Gender,Breakfast,Coffee,Comfort_food_reasons,Cook,Cuisine,Current_diet,Drink,Eating_changes,Eating_out,...,Parents_cook,Pay_meal_out,Persian_food,Self_perception_weight,Soup,Sports,Thai_food,Veggies_day,Vitamins,Weight(lbs)
0,Male,Cereal,Creamy frapuccino,None,Sometimes,American,Healthy,Orange juice,Worse,2-3 times,...,Everyday,$5-$10,5.0,Just right,Veggie soup,Yes,Very unlikely,Very likely,Yes,187
1,Female,Cereal,Espresso,Stress,Not often,American,Unhealthy,Soda,Worse,1-2 times,...,Everyday,$20-$30,4.0,Just right,Veggie soup,Yes,Unlikely,Likely,No,155
2,Female,Cereal,Espresso,Stress,Daily,Korean/Asian,Same,Orange juice,Worse,1-2 times,...,Everyday,$10-$20,5.0,Never thought,Veggie soup,No,Very likely,Very likely,Yes,I'm not answering this.
3,Female,Cereal,Espresso,Boredom,Sometimes,Mexican Spanish,Unhealthy,Soda,Worse,1-2 times,...,Everyday,$5-$10,5.0,Overweight,Veggie soup,No,Very likely,Neutral,Yes,"Not sure, 240"
4,Female,Cereal,Espresso,Stress,Daily,Mexican Spanish,Unhealthy,Soda,Same,1-2 times,...,Everyday,$20-$30,2.0,Slightly overweight,Veggie soup,Yes,Likely,Likely,No,190

In [67]:
df['Weight(lbs)'].dtypes

dtype('O')

In [71]:
df['Weight(lbs)'] = df['Weight(lbs)'].apply(lambda x: int(x))

ValueError: invalid literal for int() with base 10: "I'm not answering this. "